<div class="page-header" xmlns:c="http://www.w3.org/1999/XSL/Transform">
    <h1>Status</h1>

    <p>status for sent messages</p>
</div>

<div data-ng-controller="StatusViewCtrl" data-ng-init="init()">

    <table class="table table-striped table-bordered table-condensed">

        <tbody>
        <tr>
            <th scope="col" title="Firstname">User</th>
            <th scope="col" title="Lastname">Message text</th>
            <th scope="col" title="Phone number">Status</th>
            <th scope="col" title="Media">Media</th>
            <th scope="col" title="Error">Error</th>
        </tr>
        <tr ng-repeat="status in statuses">
            <td>
                {{ status.User.Name }}
            </td>

            <td>
                {{ status.Message.Text }}
            </td>
            <td>
                {{ status.Status.Success}}
            </td>
            <td>
                <c:if test="{{{status.Status.Type}} == 0}">SMS</c:if>
                <c:if test="{{{status.Status.Type}} == 1}">Push message</c:if>

                {{ status.Type }}
            </td>
            <td>
                {{ status.Status.ErrorMessage }}
            </td>

        </tr>
        </tbody>
    </table>

</div>

