<div class="page-header">
    <h1>Users</h1>

    <p>Administer users</p>
</div>

<!-- Example row of columns -->
<div class="row">

    <h2>Users</h2>

    <div data-ng-controller="UsersViewCtrl" data-ng-init="init()">

        <table class="table table-striped table-bordered table-condensed">

            <tbody>
            <tr class="days">
                <th scope="col" title="Firstname">Firstname</th>
                <th scope="col" title="Lastname">Lastname</th>
                <th scope="col" title="Phone number">Phone number</th>
                <th scope="col" title="E-mail">E-mail</th>
                <th scopw="col"/>
            </tr>
            <tr ng-repeat="user in users">
                <td>
                    {{ user.Name }}
                </td>
                <td>
                    {{ user.LastName }}
                </td>
                <td>
                    {{ user.PhoneNumber }}
                </td>
                <td>
                    {{ user.Email }}
                </td>
                <td>

                    <form ng-submit="deleteUser(user.PhoneNumber)" style="display:inline-table;">
                        <input class="btn btn-primary btn-small" type="submit" value="Delete"/>
                    </form>
                    <form style="display:inline-table;">
                        <button class="btn btn-primary btn-small" ng-click="editUser(user)">Edit</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>User</h2>
        <p>Edit/add user</p>

        <div>
            <form class="well" ng-submit="update(user)" data-ng-init="init()">
                <div>
                    <label>Firstname</label><input type="text" ng-model="user.Name"/>
                    <label>Lastname</label> <input type="text" ng-model="user.LastName"/>
                    <label>Phone number</label> <input type="text" ng-model="user.PhoneNumber"/>
                    <label>E-mail</label> <input type="email" ng-model="user.Email"/>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary btn-small" value="Save"/>
                </div>
            </form>
        </div>
    </div>

</div>

